<main>
  <div class="card">
      <h5 class="card-title">Registro</h5>

    <form [formGroup]="registerForm" >
      <div class="input__container">
        <mat-form-field class="input">
            <mat-icon fontIcon="account_circle" class="icone" matPrefix></mat-icon>
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="usuario" placeholder="Ex: João Da Silva" type="text">
        </mat-form-field>
      </div>

      <div class="input__container">
        <mat-form-field class="input">
            <mat-icon fontIcon="key" class="icone" matPrefix></mat-icon>
            <mat-label>Senha</mat-label>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <input formControlName="senha"  matInput placeholder="Ex:  João123" [type]="hide ? 'password' : 'text'">
        </mat-form-field>
      </div>
      <div class="input__container">
        <mat-form-field class="input">
            <mat-icon fontIcon="key" class="icone" matPrefix></mat-icon>
            <mat-label>Repita a senha</mat-label>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <input formControlName="repitaSenha" name="teste"  matInput placeholder="Ex:  João123" [type]="hide ? 'password' : 'text'">
          </mat-form-field>
      </div>

      <h5 class="register" (click)="irParaLogin()">Ja é registrado? Faça Login</h5>


      <div class="erros" *ngIf="error">
        <mat-error>{{error}}</mat-error>
      </div>
      <button  class="botao" mat-raised-button (click)="onSubmit()" color="primary" >Registrar</button>

    </form>


  </div>
</main>
