main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content{
  margin-top: 3em;
  width: 100%;

  font-family: Montserrat, sans-serif;
  &  th {
    font-weight: bold;
    color: #00b079;
    text-align: center;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  background-color: #ffffff;
}
tr {
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 3em;
}

tr > td{
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 3em;
  vertical-align: middle;
}

table{
  box-shadow: none;
}

.botao{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
  background-color: #00b079;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 0;
}
