<main>
  <div class="bemvindo__container">
    <h3>Bem vindo ,<span> {{usuario}} !</span> </h3>
  </div>

  <div class="content">
    <div class="card__conta">
      <h5 class="card-title">Conta: {{numeroDaconta}} </h5>
      <div class="card-body">
        <p class="card-text">{{saldo| currency:'BRL':'symbol':'1.2-2' }}</p>
      </div>
    </div>


    <div class="opcoes__container">
      <li (click)="irParaAgendarTransferencia()">
          <mat-icon fontIcon="currency_exchange" class="icone" matPrefix></mat-icon>
          <span>Agendar Transferencia</span>
      </li>
      <li (click)="irParaHistorico()">
          <mat-icon fontIcon="history" class="icone" matPrefix></mat-icon>
          <span>Historico</span>
      </li>
      <li (click)="logout()">
          <mat-icon fontIcon="logout" class="icone" matPrefix></mat-icon>
          <span>Sair</span>
      </li>

    </div>
  </div>

</main>
